.list{
    position: absolute;
    left:0;
}
.list-item{
    cursor:pointer;
    text-align: center;
    line-height: 26px;
    font-size: 12px;
    margin: 8px;
    width: 140px;
    height: 26px;
    border: solid 1px #289DE9;
    border-radius: 13px;
}
.drag-item{
    position: absolute;
    z-index: 2147483647;
    cursor: move;
}

#chart{
    display: flex;
    flex-direction: row;
}

.svg-item{
    cursor:pointer;
    position: absolute;
    text-align: center;
    line-height: 26px;
    font-size: 12px;
    width: 140px;
    height: 26px;
    border: solid 1px #289DE9;
    border-radius: 13px;
}

.line-in{
    width: 140px;
    height: 20px;
    position: absolute;
    top: -4px;
}

.line-out{
    width: 140px;
    height: 20px;
    position: absolute;
    bottom: -4px;
}

.dot-up{
    width: 6px;
    height: 6px;
    background: #289DE9;
    border: 1px solid #289DE9;
    border-radius: 4px;
    left: 66px;
    position: absolute;
    top: -4px;
}

.dot-down{
    width: 6px;
    height: 6px;
    background: #289DE9;
    border: 1px solid #289DE9;
    border-radius: 4px;
    left: 66px;
    position: absolute;
    bottom: -4px;
}